:root {
  --twikoobg: #f6f7f8c7;
}

.twikoo {
  padding-bottom: 5rem;
}

.comments-title {
  margin-bottom: 20px;
}

#comments h4 {
  padding: 0;
  font-size: 1.4rem;
  font-weight: 400;
  color: #374151;
  display: flex;
  align-items: center;
  margin: 0;
}

.comments-title p {
  color: #6b7280;
  margin: 0;
  margin-top: 4px;
  letter-spacing: .025em;
  font-size: 14px;
}

#comments h4 i {
  margin-right: 6px;
}

.twikoo .tk-tag[data-v-d82ce9a0] {
  display: inline !important;
  padding: 0.2em 0.5em !important;
}

.tk-tag-green[data-v-d82ce9a0] {
  background: #1484cd;
  border-color: #1484cd;
  color: #fff;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}

.twikoo img {
  display: inline !important;
  margin: 0;
}

.twikoo a:hover {
  cursor: pointer;
  opacity: 0.9;
}

.tk-meta-input[data-v-619b4c52] * {
    font-size: 15px;
}

.tk-meta-input .el-input[data-v-5087bc56] .el-input-group__prepend{
    padding: 0 8px;    
}

.el-input-group>.el-input__inner {
    padding: 0 5px;
}

/*.tk-meta-input[data-v-5087bc56] {*/
/*  flex-wrap: wrap;*/
/*  justify-content: space-between;*/
/*}*/

/*.tk-meta-input .el-input[data-v-5087bc56] {*/
/*  flex: inherit;*/
/*  margin: 0;*/
/*  margin-left: 0;*/
/*  margin-bottom: 10px;*/
/*  border-radius: 2px;*/
/*  -webkit-border-radius: 2px;*/
/*  -moz-border-radius: 2px;*/
/*  -ms-border-radius: 2px;*/
/*  -o-border-radius: 2px;*/
/*  padding: 5px;*/
/*  border: 1px dashed #bbc4bb;*/
/*  width: 32%;*/
/*  height: 34px;*/
/*  border-radius: 6px;*/
/*  box-shadow: none;*/
/*  box-sizing: border-box;*/
/*  transition: all 0.2s linear;*/
/*}*/

.tk-meta-input .el-input:focus {
    border: 1px solid #bbc4bb;
}

/*.tk-meta-input .el-input+.el-input[data-v-5087bc56] {*/
/*  margin-left: 0;*/
/*}*/

/*.tk-meta-input .el-input[data-v-5087bc56] .el-input-group__prepend {*/
/*  background: none;*/
/*  border: none;*/
/*  font-size: 1rem;*/
/*  user-select: none;*/
/*}*/

/*.el-input--small .el-input__inner {*/
/*  border: none;*/
/*  height: 100%;*/
/*  font-size: 15px;*/
/*}*/

.twikoo .el-textarea__inner {
  min-height: 110px !important;
  resize: none;
  font-family: "HYQiHei";
  padding: 5px 8px;
}

.twikoo .el-input__inner:focus,
.twikoo .el-textarea__inner:focus {
  border-color: #d3d3d35e;
}

.tk-preview-container[data-v-619b4c52] {
  border: none;
  background: var(--twikoobg);
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}

.tk-content[data-v-d82ce9a0] {
  font-size: 0.96rem;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  margin-top: 0;
  color: #000;
  margin-top: 10px;
  margin-bottom: 10px;
  background: #e8e8e8;
  padding: 2px 10px;
}

.tk-replies .tk-content[data-v-d82ce9a0] {
  font-size: 1rem;
}

.tk-content p {
  margin: 5px 0
}

.twikoo .tk-extras {
  display: none;
}

.twikoo .tk-footer {
  display: none;
}

.tk-action-icon.__markdown[data-v-619b4c52] svg {
  display: none;
}

.tk-action-icon[data-v-8d454e16] {
    margin-top: -2px;
}

.tk-action-icon[data-v-8d454e16] svg {
  fill: #333;
}

.tk-action-link[data-v-8d454e16] {
  color: #333;
  width: 36px;
}

.tk-comment[data-v-d82ce9a0] {
  margin-bottom: 8px;
}

.tk-comment:hover .tk-actions[data-v-d82ce9a0] a {
  color: #333;
}



/*.tk-action .tk-action-link:nth-child(1) {*/
/*  display: none;*/
/*}*/

/*.twikoo .el-input__inner:hover,*/
/*.twikoo .el-textarea__inner:hover {*/
/*  border-color: #d3d3d35e;*/
/*}*/


.tk-row .tk-avatar {
  display: none;
}

/*.el-textarea {*/
/*  margin-bottom: 10px;*/
/*  padding: 5px;*/
/*  border: 1px dashed #bbc4bb;*/
/*  width: 100%;*/
/*  height: 34px;*/
/*  border-radius: 6px;*/
/*  box-shadow: none;*/
/*  box-sizing: border-box;*/
/*  transition: all 0.2s linear;*/
/*}*/

/*.el-input--small .el-input__inner {*/
/*  padding: 0;*/
/*  position: relative;*/
/*}*/

/*.tk-meta-input .el-input .el-input-group__prepend {*/
/*  padding: 0 5px !important;*/
/*  position: relative;*/
/*  padding-right: 10px !important;*/
/*}*/

/*.tk-meta-input .el-input .el-input-group__prepend::after {*/
/*  position: absolute;*/
/*  content: ':';*/
/*  display: block;*/
/*  right: 2px;*/
/*  top: -1px;*/
/*}*/

.twikoo .el-textarea__inner::placeholder {
  color: rgba(51, 51, 51, 0.712);
  font-size: 15px;
}

.el-input--small .el-input__inner::placeholder {
  opacity: 0;
}

/*.twikoo .el-button:not(.el-button--primary):not(.el-button--text) {*/
/*  display: none;*/
/*}*/


/*.el-button--primary {*/
/*  width: 100px;*/
/*  height: 38px;*/
/*  position: absolute;*/
/*  right: 0;*/
/*  background: #ecf5ff;*/
/*  border: 1px solid #b3d8ff;*/
/*  color: #409eff;*/
/*  font-size: 14px;*/
/*}*/

.tk-time {
  opacity: 0.8;
  padding-left: 10px;
  color: #888;
  position: absolute;
  right: 50px;
}

.tk-meta {
  color: #60a8ff;
  font-size: 16px;
  font-weight: 400;
  flex: 1;
}

.tk-meta strong {
  font-weight: 400;
}

.tk-actions[data-v-d82ce9a0] {
  display: none !important;
}

.tk-comments-container>.tk-comment[data-v-d82ce9a0] {}

.tk-row-actions-start {
  padding: 10px;
}

@media (max-width:767px) {
  .tk-meta-input .el-input+.el-input[data-v-5087bc56] {
    margin-top: 0;
  }
  .tk-meta-input .el-input[data-v-5087bc56] {
    width: 100%;
  }
}

@media (max-width:500px) {
  .el-button--primary {
    position: static;
  }

  
}

.tk-avatar.tk-has-avatar[data-v-32f45298] {
  background: none;
}

.tk-avatar .tk-avatar-img[data-v-32f45298] {
  width: 40px;
  height: auto;
}

.tk-action-icon[data-v-8d454e16] svg {
  display: none;
}

.tk-action-link .tk-action-icon::after {
  content: '回复';
  font-size: 13px;
  display: block;
  width: 32px;
  position: absolute;
  right: 0;
  line-height: 14px;
  color: #888;
}

.tk-action-count[data-v-8d454e16] {
  display: none;
}

.tk-row.actions[data-v-619b4c52] {
  margin-left: 0;
  margin-top: 0;
}

.tk-expand {
  box-sizing: border-box;
  background: #f3f3f3;
}

.tk-action-icon__markdown {
  display: none;
}

.tk-comments-title[data-v-2619081a] {
  margin-top: 2rem;
}

.tk-comment  a{
    color: #0366d6;
}
.tk-replies .tk-avatar[data-v-32f45298] {
    width: 30px;
    height: 30px;
}

.tk-replies .tk-avatar .tk-avatar-img[data-v-32f45298] {
    height: auto;
    width: 100%;
}
